.userList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}
